<div class="bg-transparent fw-bold p-3 border border-3 rounded m-3" style="display: inline-block; border-color:#222831 !important; color:#DFD0B8">
<p>File: @FileName</p>
<p>Uploaded on: @UploadDate</p>
    <button class="btn fw-bold d-block mx-auto" style="background:#222831;color:#DFD0B8" @onclick="() => OnSelect.InvokeAsync(FileId)">Select</button>
</div>

@code {
    [Parameter] public string FileName { get; set; } = string.Empty;
    [Parameter] public string UploadDate { get; set; } = string.Empty;
    [Parameter] public EventCallback<int> OnSelect { get; set; }
    [Parameter] public int FileId { get; set; }
}
